main{
  min-height: calc(100vh - 6em);

  .foodSection {
    display: flex;
    justify-content: center;
    column-gap: 1.5em;
    flex-wrap: wrap;
    padding-top: 1.1em;
  }

  .tableSection {
    width: 100vw; 
    justify-content: center;
    margin-top: 2.8em;
  }
}

