@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('woff2'), /* Formato WOFF2 */
       url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('woff'); /* Formato WOFF */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lilita One';
  src: url('../fonts/Lilita_One/LilitaOne-Regular.ttf') format('woff2'),
       url('../fonts/Lilita_One/LilitaOne-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
