header{
  display: flex;
  height: 6em;
  max-width: 100vw;
  width: 100%;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;


  .leftHeader{
    display: flex;
    align-items: center;
    column-gap: 1em;
    cursor: pointer;

    .logoText{
      font-size: 18px;
      font-family: "Lilita One";
      font-weight: 1000;
      color: #004083;
    }
  }

  .rightHeader{
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    .icons {
      color: rgb(0, 64, 131);
      font-size: 1.4em;
      cursor: pointer;
    }
  }
}